<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ian Clarke</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Ian Clarke</h1>
    </header>
    <main>
        <h2 class="section-title">About Me</h2>
        <section id="about" class="section-box">
            <p>I am a Computer Science student at the University of Victoria. I enjoy programming in Python and have been doing it for over five years. My interests include automation, cybersecurity, photonic computing, and machine learning (using light to learn). I build tools for fun and to solve problems, working with both software and hardware. I also enjoy experimenting with new technologies to expand my skill set.</p>
        </section>
        
        <h2 class="section-title">Technical Projects</h2>
        <section id="projects" class="section-box">
            <h3><a href="https://github.com/ian2102/dad-price-prediction" target="_blank">In-Game Item Price Prediction for Dark and Darker</a></h3>
            <p>My latest project helps Dark and Darker players accurately estimate the value of their in-game items using machine learning. In the game's player-driven marketplace, item prices vary based on unique attributes, making manual price-checking tedious and error-prone. To solve this, I captured over 1 million marketplace listings by analyzing network traffic, then trained a Random Forest Regressor to predict item prices. I also built a web interface that allows users to upload a screenshot of their item; using a custom-trained OCR (PyTesseract) on the game’s font, the system extracts item data, parses its attributes, and returns an instant price estimate.</p>
            <h4>In-Game Item Price Prediction</h4>
            <img src="{{ url_for('static', filename='dark_prediction.jpg') }}" alt="In-Game Item Price Prediction" class="project-image">
            <h4>Item Image</h4>
            <img src="{{ url_for('static', filename='item.jpg') }}" alt="Item Image" class="project-image" style="max-width: 50%;">
        </section>
        
        <section id="projects" class="section-box">
            <h3><a href="https://github.com/Beelzebub2/DnDTools" target="_blank">Stash Organizer and Character Search Engine for Dark and Darker</a></h3>
            <p>This is an ongoing project with official support from Ironmace, the developers of Dark and Darker.
                The tool is designed to help players organize and manage their in-game storage, known as “stashes.” In Dark and Darker, players collect various loot such as weapons, armor, and consumables which are stored across multiple stash pages. As the stash grows, it becomes harder to keep track of where everything is. This tool lets players search for specific items across all stash pages and automatically sort them, saving time and reducing clutter.</p>
            <p>Website:</p>
            <p><a href="https://dndtools.me/" target="_blank">https://dndtools.me/</a></p>
            <h4>Stash Organizer Demo</h4>
            <video class="project-video" controls autoplay muted loop>
                <source src="{{ url_for('static', filename='stash_demo.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </section>

        <h2 class="section-title">Contact & Socials</h2>
        <section id="contact" class="section-box">
            <p>Email: <a href="mailto:ian@iansolutions.xyz">ian@iansolutions.xyz</a></p>
            <p>Phone: <a href="tel:+12506506393">+1 (250) 650-6393</a></p>
            <p>GitHub: <a href="https://github.com/ian2102" target="_blank" rel="noopener noreferrer">https://github.com/ian2102</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/ian-clarke-193837353/" target="_blank" rel="noopener noreferrer">https://www.linkedin.com/in/ian-clarke-193837353/</a></p>
            <p>YouTube: <a href="https://www.youtube.com/@Ian250-p4f" target="_blank" rel="noopener noreferrer">https://www.youtube.com/@Ian250-p4f</a></p>            
        </section>
    </main>
    <footer>
        <p>&copy; 2025 iansolutions.xyz. All Rights Reserved.</p>
    </footer>
</body>
</html>
